/* add custom styles */

@font-face {
  font-family: alien;
  src: url(fonts/alienleague.ttf) format("truetype");
}

/* ***** navbar styling ***** */

.side-nav ul li:hover {
   background-color: white;
}

.nav-links:hover {
  color: #ee6e73;
}

/* ***** general styling ***** */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.emph-color {
  color: #ee6e73;
  font-family: alien;
}

.form-submit {
  background-color: #ee6e73;
}

/* ***** content list styling ***** */

.brand-logo, .tab {
  font-family: alien;
}

div .video {
  border: 5px solid black;
}

div .image {
  border: 5px solid #ee6e73;
}

.rzslider .rz-pointer {
  background-color: #ee6e73;
}

.rzslider .rz-bar.rz-selection {
  background: black;
}

/* ****** background-image: url('../images/powCarve.jpg'); ***** */
