<br>
<br>
<div class="container">
  <div class="row">
    <h2 class="col s12">No-nonsense <span class="emph-color">signup</span> page</h2>
    <form class="col s12" ng-submit="accountCtrl.signup()">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" ng-model="accountCtrl.userInput.name">
          <label for="name">Name (be who you want to be)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" ng-model="accountCtrl.userInput.email">
          <label for="email">Email ("we won't sell it", lol)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" ng-model="accountCtrl.userInput.password">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Send It!
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>

<!-- <form class="form-horizontal" method="POST" action="/login" id="loginUser">
<div class="form-group row">
  <label for="user_name" name="user_name" class="col-xs-2 col-form-label">Username</label>
  <div class="col-xs-10">
    <input class="form-control" type="text" placeholder="MadEyeMoody" id="loginUsername" name="user_name" autofocus>
  </div>
</div>
<div class="form-group row">
  <label for="password" class="col-xs-2 col-form-label">Password</label>
  <div class="col-xs-10">
    <input class="form-control" type="password" placeholder="Password" id="loginPassword" name="password">
  </div>
  {% if message %}
    {{message}}
  {% endif %}
</div>
<div class="col-sm-offset-2 col-sm-8">
  <button type="submit" class="btn btn-default login">Login</button>
</div>
</form> -->
