/* add custom styles */

/* materialize footer style */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*div .snow {
  border: 5px solid blue;
}

div .surf {
  border: 5px solid red;
}*/

div .video {
  border: 5px solid red;
}

div .image {
  border: 5px solid blue;
}

section.sliders {
  /*background-image: url('../images/powCarve.jpg');*/
}
