<br>
<br>
<br>

<h2 class="col s12">No-nonsense <span class="emph-color">profile</span> page</h2>

<section class="userContentList">
  <div class="col s8" ng-repeat="content in accountCtrl.userContent">
    <iframe ng-if="content.content === 'video'" class="{{content.type}} {{content.content}}" ng-src="{{content.data}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <img ng-if="content.content === 'image'"  class="{{content.type}} image" ng-src="{{content.data}}" width="300">
    <p>{{content.title}}</p>
  </div>
</section>

<p>Insanity, check!</p>
